:root{
    --blancoPuro: #ffffff;
    --grisPaleta: #c0c0c0;
    --grisClaro: #ddd9d9;
    --oscuro:  #58646d;
    --medio: #47606f;
    --amarillo:  #eeb906;
    --azulClaro: #9ecdf3;
}


body{
    background-color:var(--azulClaro);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color:var(--oscuro);
    max-width: 100%;
} 

section{
    background-color: var(--blancoPuro);
    max-width: 100%;
    
}


header h1,
header nav{
    display: inline;
}
nav ul,
nav li{
    display: inline;
}
caption{
    font-weight: bold;
}
th{
    background-color: var(--grisClaro);
    font-size: 19px;
    min-height: 80px;
    color: var(--oscuro);
}
tr:nth-child(even) td{
 background-color:#bfc9cf;
 color: var(--oscuro);
}
footer  {
    background-color: var(--oscuro);
    min-height: 80px;
    color: var(--blancoPuro);
    font-size: 18px;
}

footer a{
    background-color: var(--amarillo);
    max-height: 100%;
}

.logo {
    max-width: 155px;
    max-height: 155px;
    display: inline;
    
}



