* {
    box-sizing: border-box;
}

:root {
    --blancoPuro: #ffffff;
    --grisPaleta: #c0c0c0;
    --grisClaro: #ddd9d9;
    --oscuro: #58646d;
    --medio: #47606f;
    --amarillo: #eeb906;
    --azulClaro: #b3cbdf;
    --azulMedio: #7bb3df;
}

.botonSubir{
    position: fixed;
    display: flex;
    bottom: 5%;
    right: 5%;
    padding: 5px 15px;
    background-color: var(--azulMedio);
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}

body {
    background-color: var(--azulClaro);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: var(--oscuro);
    max-width: 100%;
    padding: 10px;
}

section {
    background-color: var(--blancoPuro);
    max-width: 100%;
    padding: 0px 20px 0px 20px;
}


header {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 20px;

}

header nav {
    margin: 0 auto;
    order: 1;
}

header h1 {
    order: 2;

}

header .logo {
    order: 3;
}


header .menu_principal {
    display: flex;
    gap: 20px;
    list-style: none;
}

.BotonNavegacion {
    text-decoration: none;
    background-color: var(--oscuro);
    color: var(--grisClaro);
    font-size: 18px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
    

}

.BotonNavegacion:hover {
    background-color: var(--amarillo);
    color: var(--oscuro);
}

.BotonNavegacion:focus {
    background-color: var(--amarillo);
    color: var(--oscuro);
}

nav ul,
nav li {
    display: inline;
    width: auto;
}

#btnMenu, #btnCerrar {
    display: none;
    flex-direction: column;
    order: 3;

}


caption {
    font-weight: bold;
}

th {
    background-color: var(--grisClaro);
    font-size: 19px;
    min-height: 80px;
    color: var(--oscuro);
}

tr:nth-child(even) td {
    background-color: #bfc9cf;
    color: var(--oscuro);
}

footer {
    background-color: var(--oscuro);
    min-height: 80px;
    color: var(--blancoPuro);
    font-size: 18px;
}

footer a {
    background-color: var(--amarillo);
    max-height: 100%;
}


.logo {
    max-width: 100px;
    max-height: 100px;
    display: inline;
    width: auto;
    vertical-align: middle;

}

@media (max-width: 480px) and (orientation: portrait) {

    header .menu_principal {
        display: none;
    }

    .menu_principal {
        display: none;
        position: absolute;
        text-align: center;
        background-color: var(--oscuro);
        flex-direction: column;
        top: 56px;
        right:0px;
        left: 50%;
        padding: 15px;


    }

    header {
        position: relative;
        max-width: 100%;
        align-self: center;
        position: sticky;
        top: 0; 
        z-index: 10;
        background:var(--oscuro);
        color:var(--blancoPuro);
        padding: 0;
        
    }

    header h1 {
        order: 1;
        font-size: 1.8rem;
        display: inline;
        align-items: center;
        justify-content: flex-start;

    }

    #btnMenu, #btnCerrar{
        display: flex;
        color: var(--blancoPuro);
        font-size: 30px;
        background-color: transparent;
        border: transparent;
    }
    #btnCerrar{
    width: 2.5rem;
    height: 2.5rem;   
    background-color: transparent;
    border: none;
    display: none;
    margin-top: 10px;
   
}

    #btnMenu:hover, #btnCerrar:hover {
        color: var(--amarillo);
    }
    

    

    .BotonNavegacion:hover {
        color: var(--amarillo);
        color: var(--blancoPuro);
    }

    .logo {
        order: 2;
        max-width: 100px;
        max-height: 100px;
    }


    tr {
        justify-content: center;
        font-size: 13px;
        width: 100%;
          
    }

    th {
        justify-content: center;
        font-size: 13px;
        width: 100%;
         

    }

    section {
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
    }
}