:root{
    --blancoPuro: #ffffff;
    --grisPaleta: #c0c0c0;
    --grisClaro: #ddd9d9;
    --oscuro:  #58646d;
    --medio: #47606f;
    --amarillo:  #eeb906;
    --azulClaro: #b3cbdf;
}


body{
    background-color:var(--azulClaro);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color:var(--oscuro);
    max-width: 100%;
} 

section{
    background-color: var(--blancoPuro);
    max-width: 100%;
    
}


header {
    display: flex;
    align-items: center;
    height: 75px;
}
header nav{
    margin: 0 auto;
    order: 1;
}

header h1{
    order: 2;
}
header .logo{
    order: 3;
}

header h3{
    order: 2;
}

header .menu_principal{
    display: flex;
    gap: 20px;
    list-style: none;
}

.BotonNavegacion {
    text-decoration: none;
    background-color: var(--oscuro);
    color: var(--grisClaro);
    font-size: 18px;
    
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;

}
.BotonNavegacion:hover{
    background-color: var(--amarillo);
    color: var(--oscuro);
}
.BotonNavegacion:focus{
    background-color: var(--amarillo);
    color: var(--oscuro);
}

nav ul,
nav li{
    display: inline;
    width: auto;
}
caption{
    font-weight: bold;
}
th{
    background-color: var(--grisClaro);
    font-size: 19px;
    min-height: 80px;
    color: var(--oscuro);
}
tr:nth-child(even) td{
 background-color:#bfc9cf;
 color: var(--oscuro);
}
footer  {
    background-color: var(--oscuro);
    min-height: 80px;
    color: var(--blancoPuro);
    font-size: 18px;
}

footer a{
    background-color: var(--amarillo);
    max-height: 100%;
}


.logo {
    max-width: 100px;
    max-height: 100px;
    display: inline;
    width: auto;
    vertical-align: middle;
    
}



