:root{
--azulClaro: #b3cbdf;
--blancoPuro: #ffffff;
} 

.testimonio figure{ 
    display: inline-block
}

.testimonio{
    width: 100%;
    height: 250px;
    box-sizing: content-box;
}

.personaTestimonio{
    max-width: 100px;
    max-height: 100px;
    box-sizing: content-box;
}
.seccionProductos ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.seccionProductos li{
    text-align: center;
}

.seccionProductos img{
    max-width: 100px;
    max-height: 100px;
    box-sizing: content-box;
}

.seccionProductos{
    width: 100%;
    height: 100%;
    padding: 50px;
    border: 5px;
    box-sizing: border-box;
}