* {
    box-sizing: border-box;
}

.menu_principal {
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    background-color: #47606f;
}

.menu_principal li {
    position: relative;
    display: inline;
}



.menu_principal li a {
    text-decoration: none;
    color: #c0c0c0;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}

.menu_principal a:hover {
    display: inline;
    position: relative;
    color: black;
    background-color: #eeb906;
}

body {
}


